.card {
    border: 1px solid rgb(206, 206, 206);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,.4);
  }
  .text-italic {
    font-style: italic;
  }

  .text-bold {
    font-weight: bold;
  }

  .female {
    color: red;
  }

  .male {
    color: blue;
  }